In [22]:
import pandas as pd
import os

In [23]:
df_bp = pd.read_csv('./district-weather-data/บางพลัด0_weather_data.csv')

df_bp2 = pd.read_csv('./district-weather-data/สวนหลวงพระราม_8_บางพลัด_weather_data.csv')

In [24]:
df_bp.head(5)

  district   Date_Time  PM2.5      WS  WD  Temp  RH  BP
0  บางพลัด  2023-01-01   37.3  1015.9 NaN   NaN NaN NaN
1  บางพลัด  2023-01-02   41.1  1016.1 NaN   NaN NaN NaN
2  บางพลัด  2023-01-03   36.1  1015.6 NaN   NaN NaN NaN
3  บางพลัด  2023-01-04   28.7  1015.0 NaN   NaN NaN NaN
4  บางพลัด  2023-01-05   31.0  1014.5 NaN   NaN NaN NaN

In [25]:
df_bp2.head(5)

                  district   Date_Time  PM2.5  WS  WD  Temp    RH     BP
0  สวนหลวงพระราม 8 บางพลัด  2023-01-01   28.1 NaN NaN  26.3  59.7  760.1
1  สวนหลวงพระราม 8 บางพลัด  2023-01-02   29.7 NaN NaN  26.7  59.7  760.2
2  สวนหลวงพระราม 8 บางพลัด  2023-01-03   28.6 NaN NaN  28.2  59.4  759.8
3  สวนหลวงพระราม 8 บางพลัด  2023-01-04   21.7 NaN NaN  28.8  57.7  759.4
4  สวนหลวงพระราม 8 บางพลัด  2023-01-05   24.6 NaN NaN  28.9  59.2  759.0

Merge DataFrame

df_bp  => district	Date_Time	PM2.5	WS

df_bp2 => WD	    Temp	    RH	    BP

In [26]:
# [Drop WD, Temp, RH, BP] from df_bp
drop_cols = ['WD', 'Temp', 'RH', 'BP']
df_bp_clean = df_bp.drop(columns=[c for c in drop_cols if c in df_bp.columns])

df_bp_clean.head(5)

  district   Date_Time  PM2.5      WS
0  บางพลัด  2023-01-01   37.3  1015.9
1  บางพลัด  2023-01-02   41.1  1016.1
2  บางพลัด  2023-01-03   36.1  1015.6
3  บางพลัด  2023-01-04   28.7  1015.0
4  บางพลัด  2023-01-05   31.0  1014.5

In [27]:
# Merge with df_bp2 (use only WD, Temp, RH, BP)
merged_df_bp = df_bp_clean.merge(
    df_bp2[['Date_Time', 'WD', 'Temp', 'RH', 'BP']],
    on='Date_Time',
    how='left'
)

In [28]:
merged_df_bp.head(5)

  district   Date_Time  PM2.5      WS  WD  Temp    RH     BP
0  บางพลัด  2023-01-01   37.3  1015.9 NaN  26.3  59.7  760.1
1  บางพลัด  2023-01-02   41.1  1016.1 NaN  26.7  59.7  760.2
2  บางพลัด  2023-01-03   36.1  1015.6 NaN  28.2  59.4  759.8
3  บางพลัด  2023-01-04   28.7  1015.0 NaN  28.8  57.7  759.4
4  บางพลัด  2023-01-05   31.0  1014.5 NaN  28.9  59.2  759.0

Save into CSV

In [29]:
district_name = merged_df_bp['district'].iloc[0]
filename = f"{district_name}_weather_data.csv"
filepath = os.path.join("district-weather-data", filename)

merged_df_bp.to_csv(filepath, index=False, encoding="utf-8-sig")

print(f"Saved: {filepath}")

Saved: district-weather-data\บางพลัด_weather_data.csv