In [70]:
import numpy as np
import pandas as pd

# Read Cleaned Data

In [71]:
df = pd.read_csv('./../clean-data/df_clean.csv')

df.head(3)

,type,organization,comment,coords,address,subdistrict,district,timestamp,state,count_reopen,last_activity,duration
0,{ถนน},"เขตราษฎร์บูรณะ,สำนักการโยธา กทม.,การประปานครหล...",มีน้ำซึมออกมาบริเวณถนน ทำให้มีน้ำขังบนถนนตลอดเวลา,"100.51425,13.67737",256 1 ถ. ราษฎร์บูรณะ แขวง ราษฎร์บูรณะ เขตราษฎร...,ราษฎร์บูรณะ,ราษฎร์บูรณะ,2023-01-01 00:03:43.789292+00:00,เสร็จสิ้น,0,2023-01-30 13:28:47.357954+00:00,29 days 13:25:03.568662
1,{ท่อระบายน้ำ},"เขตพระโขนง,การประปานครหลวง กปน. (Metropolitan ...",ท่อน้ำแตก น้ำผุดไหลตลอด,"100.63164,13.69385",1293/40 ซอย วชิรธรรมสาธิต 57 ซอย สุขุมวิท 101 ...,บางจาก,พระโขนง,2023-01-01 00:10:26.940037+00:00,เสร็จสิ้น,0,2023-01-02 08:10:34.301068+00:00,1 days 08:00:07.361031
2,{ท่อระบายน้ำ},"เขตจตุจักร,บริษัท โทรคมนาคมแห่งชาติ จำกัด (มหาชน)",ฝ่าท่อชำรุด,"100.57172,13.83283",1714 ถ. พหลโยธิน แขวง ลาดยาว เขตจตุจักร กรุงเท...,จันทรเกษม,จตุจักร,2023-01-01 00:21:48.772987+00:00,เสร็จสิ้น,0,2023-12-08 08:34:06.082492+00:00,341 days 08:12:17.309505

# Read all_district_weather_data

In [72]:
weather_data = pd.read_csv('./all_district_weather_data.csv')

### convert Date_Time into timestamp

In [73]:
weather_data['timestamp'] = pd.to_datetime(weather_data['Date_Time'], format='mixed', utc=True)

weather_data.head(3)

,district,Date_Time,PM2.5,WS,WD,Temp,RH,BP,timestamp
0,คลองสาน,2023-01-01,30.0,26.0,114.6,0.0,51.5,1015.3,2023-01-01 00:00:00+00:00
1,คลองสาน,2023-01-02,35.3,26.2,168.7,0.0,53.2,1015.6,2023-01-02 00:00:00+00:00
2,คลองสาน,2023-01-03,38.6,27.3,58.5,0.0,56.1,1015.0,2023-01-03 00:00:00+00:00

In [74]:
# drop Date_Time column

weather_data['timestamp'] = pd.to_datetime(weather_data['Date_Time'], format='mixed', utc=True)

weather_data = weather_data.drop("Date_Time", axis=1)

weather_data.head(3)

  district PM2.5    WS     WD Temp    RH      BP                 timestamp
0  คลองสาน  30.0  26.0  114.6  0.0  51.5  1015.3 2023-01-01 00:00:00+00:00
1  คลองสาน  35.3  26.2  168.7  0.0  53.2  1015.6 2023-01-02 00:00:00+00:00
2  คลองสาน  38.6  27.3   58.5  0.0  56.1  1015.0 2023-01-03 00:00:00+00:00

# Merge df and weather_data

### using same district and timestamp

In [75]:
# Create date column
df['date'] = pd.to_datetime(df['timestamp'], format='mixed', utc=True).dt.date
weather_data['date'] = pd.to_datetime(weather_data['timestamp'], format='mixed', utc=True).dt.date

# Merge
merged = df.merge(
    weather_data[['district','date','PM2.5','WS','WD','Temp','RH','BP']],
    on=['district','date'],
    how='left'
)

# Drop 'date' column
merged = merged.drop(columns=['date'])

In [76]:
# Check result

merged.head()

,type,organization,comment,coords,address,subdistrict,district,timestamp,state,count_reopen,last_activity,duration,PM2.5,WS,WD,Temp,RH,BP
0,{ถนน},"เขตราษฎร์บูรณะ,สำนักการโยธา กทม.,การประปานครหล...",มีน้ำซึมออกมาบริเวณถนน ทำให้มีน้ำขังบนถนนตลอดเวลา,"100.51425,13.67737",256 1 ถ. ราษฎร์บูรณะ แขวง ราษฎร์บูรณะ เขตราษฎร...,ราษฎร์บูรณะ,ราษฎร์บูรณะ,2023-01-01 00:03:43.789292+00:00,เสร็จสิ้น,0,2023-01-30 13:28:47.357954+00:00,29 days 13:25:03.568662,25.6,2.0,54.9,25.1,55.7,1015.5
1,{ท่อระบายน้ำ},"เขตพระโขนง,การประปานครหลวง กปน. (Metropolitan ...",ท่อน้ำแตก น้ำผุดไหลตลอด,"100.63164,13.69385",1293/40 ซอย วชิรธรรมสาธิต 57 ซอย สุขุมวิท 101 ...,บางจาก,พระโขนง,2023-01-01 00:10:26.940037+00:00,เสร็จสิ้น,0,2023-01-02 08:10:34.301068+00:00,1 days 08:00:07.361031,27.0,1.3,175.6,25.6,52.5,1015.6
2,{ท่อระบายน้ำ},"เขตจตุจักร,บริษัท โทรคมนาคมแห่งชาติ จำกัด (มหาชน)",ฝ่าท่อชำรุด,"100.57172,13.83283",1714 ถ. พหลโยธิน แขวง ลาดยาว เขตจตุจักร กรุงเท...,จันทรเกษม,จตุจักร,2023-01-01 00:21:48.772987+00:00,เสร็จสิ้น,0,2023-12-08 08:34:06.082492+00:00,341 days 08:12:17.309505,31.8,0.7,159.3,24.7,57.8,1016.6
3,{ท่อระบายน้ำ},"เขตตลิ่งชัน,สำนักการระบายน้ำ กทม.,สำนักการโยธา...",ฝาท่อชำรุด,"100.45422,13.79601",47/2 หมู่10 ถนน สวนผัก แขวง ตลิ่งชัน เขตตลิ่งช...,ตลิ่งชัน,ตลิ่งชัน,2023-01-01 00:33:33.072634+00:00,เสร็จสิ้น,0,2023-01-05 01:36:42.213173+00:00,4 days 01:03:09.140539,33.9,0.5,96.2,24.7,61.0,1016.0
4,"{จราจร,กีดขวาง}","เขตจตุจักร,สน.ประชาชื่น,สำนักงานตำรวจแห่งชาติ ...",ตำรวจไม่จับมอไซย้อนศร วินมอไซจอดรถขวางทางจราจร...,"100.54507,13.84009",15 ถนน เทศบาลสงเคราะห์ แขวง ลาดยาว เขตจตุจักร ...,ลาดยาว,จตุจักร,2023-01-01 00:33:53.640154+00:00,เสร็จสิ้น,0,2023-01-24 15:09:09.479326+00:00,23 days 14:35:15.839172,31.8,0.7,159.3,24.7,57.8,1016.6

In [77]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417902 entries, 0 to 417901
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   type           417902 non-null  object
 1   organization   417902 non-null  object
 2   comment        417902 non-null  object
 3   coords         417902 non-null  object
 4   address        417902 non-null  object
 5   subdistrict    417902 non-null  object
 6   district       417902 non-null  object
 7   timestamp      417902 non-null  object
 8   state          417902 non-null  object
 9   count_reopen   417902 non-null  int64
 10  last_activity  417902 non-null  object
 11  duration       417902 non-null  object
 12  PM2.5          353570 non-null  object
 13  WS             367880 non-null  object
 14  WD             344940 non-null  object
 15  Temp           354264 non-null  object
 16  RH             354303 non-null  object
 17  BP             354431 non-null  object
dtypes: int64(1), object(17)
memory usage: 57.4+ MB

### Null count

In [78]:
print('Count null PM2.5:', merged['PM2.5'].isna().sum())
print('Count null WS:   ', merged['PM2.5'].isna().sum())
print('Count null WD:   ', merged['PM2.5'].isna().sum())
print('Count null Temp: ', merged['PM2.5'].isna().sum())
print('Count null Temp: ', merged['PM2.5'].isna().sum())
print('Count null RH:   ', merged['PM2.5'].isna().sum())
print('Count null BP:   ', merged['PM2.5'].isna().sum())

Count null PM2.5: 64332
Count null WS:    64332
Count null WD:    64332
Count null Temp:  64332
Count null Temp:  64332
Count null RH:    64332
Count null BP:    64332

# Drop Row where weather data is null

In [79]:
print(merged['district'].nunique())
print(merged['district'].value_counts().head(10))

50
district
จตุจักร       21864
ประเวศ        13584
วัฒนา         12987
คลองเตย       12791
บางกะปิ       12631
บางแค         12566
บางเขน        11773
ปทุมวัน       10961
พระนคร        10788
บางกอกน้อย    10578
Name: count, dtype: int64

In [ ]:
weather_cols = ['PM2.5', 'WS', 'WD', 'Temp', 'RH', 'BP']

# change dtype from object -> float before drop null
for col in weather_cols:
    merged[col] = pd.to_numeric(merged[col], errors='coerce')

df_clean = merged.dropna(subset=weather_cols, how='any')

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307066 entries, 0 to 417901
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   type           307066 non-null  object
 1   organization   307066 non-null  object
 2   comment        307066 non-null  object
 3   coords         307066 non-null  object
 4   address        307066 non-null  object
 5   subdistrict    307066 non-null  object
 6   district       307066 non-null  object
 7   timestamp      307066 non-null  object
 8   state          307066 non-null  object
 9   count_reopen   307066 non-null  int64
 10  last_activity  307066 non-null  object
 11  duration       307066 non-null  object
 12  PM2.5          307066 non-null  float64
 13  WS             307066 non-null  float64
 14  WD             307066 non-null  float64
 15  Temp           307066 non-null  float64
 16  RH             307066 non-null  float64
 17  BP             307066 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 44.5+ MB

# Save df_clean as csv

In [84]:
df_clean.columns

Index(['type', 'organization', 'comment', 'coords', 'address', 'subdistrict',
       'district', 'timestamp', 'state', 'count_reopen', 'last_activity',
       'duration', 'PM2.5', 'WS', 'WD', 'Temp', 'RH', 'BP'],
      dtype='object')

In [82]:
df_clean.to_csv("df_merge_weather_data.csv", index=False, encoding="utf-8-sig")

print("Saved as df_merge_weather_data.csv")

Saved as df_merge_weather_data.csv