# Import Lib

In [150]:
import pandas as pd
import os

# Read csv

In [151]:
df = pd.read_csv('data_bangkok_yota_road_2025.csv')

In [152]:
print(df.shape)
print(df.head(3))

(641, 11)
   ROAD_NO ROAD_TYPE    ROAD_NAME    SECTION_START      SECTION_END  WIDTH  \
0        1       ถนน  ถนนกรุงเกษม        ถนนสามเสน   ถนนประชาธิปไตย  21.00
1        1       ถนน  ถนนกรุงเกษม   ถนนประชาธิปไตย  ถนนราชดำเนินนอก  21.00
2        1       ถนน  ถนนกรุงเกษม  ถนนราชดำเนินนอก     ถนนนครสวรรค์  21.00

   LENGTH ANNOUNCE_DATE           DISTRICT    DEPARTMENT     ROAD_OWNER
0   0.483    1984-05-22             พระนคร  สำนักการโยธา  กรุงเทพมหานคร
1   0.431    1984-05-22             พระนคร  สำนักการโยธา  กรุงเทพมหานคร
2   0.499    1984-05-22  ป้อมปราบศัตรูพ่าย  สำนักการโยธา  กรุงเทพมหานคร

# Drop unused columns

In [153]:
drop_cols = ['ROAD_NO' , 'SECTION_START' , 'SECTION_END' ,
             'WIDTH' , 'ANNOUNCE_DATE' , 'DEPARTMENT' , 'ROAD_OWNER' ]

df = df.drop(columns=drop_cols, axis=1)

In [154]:
df.head(3)

  ROAD_TYPE    ROAD_NAME  LENGTH           DISTRICT
0       ถนน  ถนนกรุงเกษม   0.483             พระนคร
1       ถนน  ถนนกรุงเกษม   0.431             พระนคร
2       ถนน  ถนนกรุงเกษม   0.499  ป้อมปราบศัตรูพ่าย

In [155]:
df['DISTRICT'].unique()

array(['พระนคร', 'ป้อมปราบศัตรูพ่าย', 'บางซื่อ', 'คลองสาน', 'คลองเตย',
       'ตลิ่งชัน', 'ดุสิต', 'สัมพันธวงศ์', 'ทุ่งครุ', 'หนองจอก', 'บางแค',
       'บางรัก', 'ลาดกระบัง', 'คันนายาว', 'คลองสามวา', 'สายไหม',
       'บางกอกใหญ่', 'บางกอกน้อย', 'บางพลัด', 'ปทุมวัน', 'จอมทอง', 'สาทร',
       'บางคอแหลม', 'ยานนาวา', 'วังทองหลาง', 'ห้วยขวาง',
       'ป้อมปราบศัตรูพ่าย,สัมพันธวงศ์', 'ธนบุรี', 'ประเวศ', 'ราชเทวี',
       'ลาดพร้าว', 'พญาไท', 'ดินแดง', 'หนองแขม', 'ทวีวัฒนา',
       'บางขุนเทียน', 'พระโขนง', 'บางนา', 'บางเขน', 'จตุจักร',
       'ภาษีเจริญ', 'ดุสิต,พญาไท', 'บางกะปิ', 'บึงกุ่ม', 'ดอนเมือง',
       'มีนบุรี,คลองสามวา', 'บางบอน', 'คลองสาน,ธนบุรี', 'ราษฎร์บูรณะ',
       'ราชเทวี,ปทุมวัน', 'พญาไท,ราชเทวี', 'สวนหลวง', 'ห้วยขวาง,สวนหลวง',
       'มีนบุรี', 'พระนคร,สัมพันธวงศ์', 'ดินแดง,ห้วยขวาง',
       'ดินแดง,ห้วยขวาง,จตุจักร', 'พระนคร,ป้อมปราบศัตรูพ่าย,ดุสิต',
       'บางกะปิ,สวนหลวง', 'สะพานสูง', 'สาทร,ยานนาวา', 'วัฒนา,พระโขนง',
       'วัฒนา', 'บางแค,ภาษีเจริญ'], dtype=object)

# Separate District

In [156]:
df['DISTRICT'].nunique()

64

In [157]:
df['DISTRICT'] = df['DISTRICT'].str.split(',')
df = df.explode('DISTRICT')
df['DISTRICT'] = df['DISTRICT'].str.strip()

print(df['DISTRICT'].nunique())
df['DISTRICT'].unique()

49

array(['พระนคร', 'ป้อมปราบศัตรูพ่าย', 'บางซื่อ', 'คลองสาน', 'คลองเตย',
       'ตลิ่งชัน', 'ดุสิต', 'สัมพันธวงศ์', 'ทุ่งครุ', 'หนองจอก', 'บางแค',
       'บางรัก', 'ลาดกระบัง', 'คันนายาว', 'คลองสามวา', 'สายไหม',
       'บางกอกใหญ่', 'บางกอกน้อย', 'บางพลัด', 'ปทุมวัน', 'จอมทอง', 'สาทร',
       'บางคอแหลม', 'ยานนาวา', 'วังทองหลาง', 'ห้วยขวาง', 'ธนบุรี',
       'ประเวศ', 'ราชเทวี', 'ลาดพร้าว', 'พญาไท', 'ดินแดง', 'หนองแขม',
       'ทวีวัฒนา', 'บางขุนเทียน', 'พระโขนง', 'บางนา', 'บางเขน', 'จตุจักร',
       'ภาษีเจริญ', 'บางกะปิ', 'บึงกุ่ม', 'ดอนเมือง', 'มีนบุรี', 'บางบอน',
       'ราษฎร์บูรณะ', 'สวนหลวง', 'สะพานสูง', 'วัฒนา'], dtype=object)

# Get Road

In [158]:
df_road = df[df['ROAD_TYPE'] == 'ถนน']

df_road = df_road.drop(columns='ROAD_TYPE', axis=1)
df_road.shape

(619, 3)

## Groupby Road_Name & District

In [159]:
df_road.head(5)

     ROAD_NAME  LENGTH           DISTRICT
0  ถนนกรุงเกษม   0.483             พระนคร
1  ถนนกรุงเกษม   0.431             พระนคร
2  ถนนกรุงเกษม   0.499  ป้อมปราบศัตรูพ่าย
3  ถนนกรุงเกษม   0.540  ป้อมปราบศัตรูพ่าย
4  ถนนกรุงเกษม   0.860  ป้อมปราบศัตรูพ่าย

In [160]:
df_road_sum = (
    df_road.groupby(['ROAD_NAME', 'DISTRICT'], as_index=False)
      .agg({'LENGTH': 'sum'})
)

print(df_road_sum.shape)
df_road_sum.head()

(456, 3)

            ROAD_NAME           DISTRICT  LENGTH
0         ถนน ณ ระนอง            คลองเตย   0.650
1       ถนนกรุงธนบุรี            คลองสาน   2.430
2         ถนนกรุงเกษม  ป้อมปราบศัตรูพ่าย   3.102
3         ถนนกรุงเกษม             พระนคร   0.914
4  ถนนกรุงเทพ-นนทบุรี            บางซื่อ   3.617

# Get ซอย

In [161]:
df_alley = df[df['ROAD_TYPE'] == 'ซอย']

df_alley = df_alley.drop(columns='ROAD_TYPE', axis=1)


print(df_alley.shape)
print(df_alley.head())

(49, 3)
                          ROAD_NAME  LENGTH   DISTRICT
593  จันทน์ 18/7 (ซอยเซนต์หลุยส์ 3)   0.835       สาทร
594       จันทน์ 43 (ซอยวัดไผ่เงิน)   0.610  บางคอแหลม
595       จันทน์ 43 (ซอยวัดไผ่เงิน)   1.100       สาทร
596       จันทน์ 43 (ซอยวัดไผ่เงิน)   1.030  บางคอแหลม
597     เจริญกรุง 107 (ซอยประดู่ 1)   3.250  บางคอแหลม

## Groupby Road_Name & District

In [162]:
df_alley_sum = (
    df_alley.groupby(['ROAD_NAME', 'DISTRICT'], as_index=False)
      .agg({'LENGTH': 'sum'})
)

print(df_alley_sum.shape)
df_alley_sum.head()

(44, 3)

                        ROAD_NAME   DISTRICT  LENGTH
0  จันทน์ 18/7 (ซอยเซนต์หลุยส์ 3)       สาทร   0.835
1       จันทน์ 43 (ซอยวัดไผ่เงิน)  บางคอแหลม   1.640
2       จันทน์ 43 (ซอยวัดไผ่เงิน)       สาทร   1.100
3                  ซอยอินทาปัจ 13      บางแค   1.160
4                  ซอยแฉล้มนิมิตร  บางคอแหลม   0.800

# Merge df_road_sum & df_alley_sum

In [163]:
total_length_each_road_alley = pd.concat([df_alley_sum, df_road_sum], ignore_index=True)

In [164]:
total_length_each_road_alley.shape

(500, 3)

# Save csv

## Save csv total_length_each_road_alley

In [165]:
os.makedirs("cleaned-data", exist_ok=True)

total_length_each_road_alley.to_csv("cleaned-data/total_length_each_road_alley.csv", index=False, encoding='utf-8-sig')

## Save csv df_road_sum

In [166]:
df_road_sum.to_csv("cleaned-data/df_road_sum.csv", index=False, encoding='utf-8-sig')

## Save csv df_alley_sum

In [167]:
df_alley_sum.to_csv("cleaned-data/df_alley_sum.csv", index=False, encoding='utf-8-sig')