In [28]:
import pandas as pd
import os

In [29]:
df = pd.read_csv('data-crime-risk-point.csv')

In [30]:
df.head(3)

,Ranking,เขต,คะแนน,รวมทั้งหมด,พื้นที่สาธารณะและพื้นที่ส่วนบุคคล,พื้นที่สาธารณะ,พื้นที่ส่วนบุคคล,สถานที่ราชการ,วัด,รัฐวิสาหกิจ,...,ก่อกวน/ยกพวกตีกัน/แข่งรถ,ประชาชนจำนวนมาก/พลุกพล่าน,ภัยอันตรายจากสัตว์มีพิษ,สถานที่สำคัญ,ความเสี่ยงอื่นๆ,แหล่งเฝ้าระวัง,พื้นที่ทำความสะอาด,พื้นที่ตัดต้นไม้,พื้นที่ปรับภูมิทัศน์,demolish
0,1,ประเวศ,50,15,3,0,3,0,0,0,...,0,2,0,0,0,2,0,0,0,0
1,2,คลองสามวา,49,19,3,2,1,0,0,0,...,0,0,0,0,0,1,1,2,1,0
2,3,ราษฎร์บูรณะ,48,21,7,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
new_df = df[['เขต', 'รวมทั้งหมด']]

new_df.head(3)

           เขต  รวมทั้งหมด
0       ประเวศ          15
1    คลองสามวา          19
2  ราษฎร์บูรณะ          21

In [32]:
new_df = new_df.rename(columns={
    'เขต': 'district',
    'รวมทั้งหมด': 'total_crime_area'
})

new_df.head(5)

      district  total_crime_area
0       ประเวศ                15
1    คลองสามวา                19
2  ราษฎร์บูรณะ                21
3      มีนบุรี                28
4      คลองเตย                30

In [33]:
os.makedirs("cleaned-data", exist_ok=True)

In [34]:
new_df.to_csv("cleaned-data/crim-risk.csv", index=False, encoding='utf-8-sig')